WebContent/xml0327/computer.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT computers (computer)*>
<!ELEMENT computer (cpu+, mb?, ram+, ps+, (hdd? | ssd?), odd?, vga?)>
<!ELEMENT cpu (#PCDATA)> 
<!ELEMENT mb (#PCDATA)> 
<!ELEMENT ram (#PCDATA)> 
<!ELEMENT ps (#PCDATA)>
<!ELEMENT hdd (#PCDATA)> 
<!ELEMENT ssd (#PCDATA)>
<!ELEMENT odd (#PCDATA)> 
<!ELEMENT vga (#PCDATA)> 

<!ATTLIST cpu brand CDATA #REQUIRED>
<!ATTLIST mb brand CDATA #REQUIRED>
<!ATTLIST hdd brand CDATA #IMPLIED>
<!ATTLIST vga brand CDATA #FIXED "NVIDIA">
